@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --color-text: #1d1c1a;
  --color-selection: #50c878;
}

::selection {
  color: #fff;
  background: var(--color-selection);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: var(--color-text);
}

h1 {
  font-size: 3rem;
}

/* Objects */
.flex-object {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Main */
.content {
  height: 100vh;
  min-height: 100%;
  width: 100%;
}

.buttons {
  flex-direction: row;
  gap: 1.55rem;
}

.buttons button {
  border: 0;
  font-size: 1.8rem;
  padding: 1.25rem;
  border-radius: 15px;
  transition: all 0.25s ease-out;
}

.buttons button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

#problemsSolved {
  font-weight: bold;
}
