@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --color-text: #fff;
}

::selection {
  color: var(--color-text);
  background: #9966cc;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3rem;
}

/* Objects */
.flex-object {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Main */
.content {
  height: 100vh;
  min-height: 100%;
  width: 100%;
}

.buttons {
  flex-direction: row;
  gap: 1.5rem;
}

.buttons button {
  border: 0;
  font-size: 1.8rem;
  padding: 1rem;
}

#problemsSolved {
  font-weight: bold;
}
