@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --color-text: #fff;
}

::selection {
  color: var(--color-text);
  background: #9966cc;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

/* Objects */
.flex-object {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Main */
